/* SPDX-License-Identifier: GPL-2.0+ */
/* SPDX-FileCopyrightText: Alexander Shiyan <shc_work@mail.ru> */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>

&{/} {
	model = "Diasom DS-RK3588-BTB-EVB-HAT";
	compatible = "diasom,ds-rk3588-btb-evb-hat",
		     "diasom,ds-rk3588-btb-evb",
		     "diasom,ds-rk3588-btb",
		     "rockchip,rk3588";
};

&i2c1 {
	pinctrl-0 = <&i2c1m4_xfer>;
	clock-frequency = <400000>;
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
};

&i2c4 {
	pinctrl-0 = <&i2c4m4_xfer>;
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
};

&pwm1 {
	pinctrl-0 = <&pwm1m2_pins>;
	status = "okay";
	#pwm-cells = <3>;
};

&pwm3 {
	pinctrl-0 = <&pwm3m3_pins>;
	status = "okay";
	#pwm-cells = <3>;
};

&pwm4 {
	pinctrl-0 = <&pwm4m1_pins>;
	status = "okay";
	#pwm-cells = <3>;
};

&pwm15 {
	pinctrl-0 = <&pwm15m3_pins>;
	status = "okay";
	#pwm-cells = <3>;
};

&spi0 {
	pinctrl-0 = <&spi0m1_pins &spi0_cs0>;
	num-cs = <1>;
	cs-gpios = <&gpio4 RK_PB1 GPIO_ACTIVE_LOW>;
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	spi@0 {
		compatible = "rohm,dh2228fv";
		reg = <0>;
		spi-max-frequency = <20000000>;
	};
};

&uart6 {
	status = "okay";
};

&uart7 {
	pinctrl-0 = <&uart7m2_xfer>;
	status = "okay";
};

&uart9 {
	status = "okay";
};

&pinctrl {
	spi-bus {
		spi0_cs0: spi0-cs0-pins {
			rockchip,pins =
				<4 RK_PB1 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};
