/* SPDX-License-Identifier: GPL-2.0+ */
/* SPDX-FileCopyrightText: Alexander Shiyan <shc_work@mail.ru> */

/dts-v1/;

#include "rk3568-diasom-som-smarc.dtsi"

/ {
	model = "Diasom DS-RK3568-SMARC-EVB";
	compatible = "diasom,ds-rk3568-som-smarc-evb",
		     "diasom,ds-rk3568-som-smarc",
		     "diasom,ds-rk3568-som",
		     "rockchip,rk3568";
};

&uart4 {
	pinctrl-0 = <&uart4m0_xfer &uart4m0_ctsn &uart4m0_rtsn>;
	status = "okay";
};

&uart8 {
	pinctrl-0 = <&uart8m1_xfer>;
	status = "okay";
};

&uart9 {
	pinctrl-0 = <&uart9m1_xfer>;
	status = "okay";
};
