/* SPDX-License-Identifier: GPL-2.0+ */
/* SPDX-FileCopyrightText: Alexander Shiyan <shc_work@mail.ru> */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/pinctrl/rockchip.h>

&{/} {
	aliases {
		rtc0 = &rtc;
	};

	vcc3v3_pcie30_clk_oe: vcc3v3-pcie30-clk-oe-regulator {
		pinctrl-names = "default";
		pinctrl-0 = <&pcie30_clk_oe_pins>;
		compatible = "regulator-fixed";
		gpio = <&gpio1 RK_PB0 GPIO_ACTIVE_LOW>;
		regulator-name = "vcc3v3_pcie30_clk_oe";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		startup-delay-us = <20000>;
		vin-supply = <&vcc3v3_sys>;
	};

	vcc3v3_pcie30_clk_run: vcc3v3-pcie30-clk-run-regulator {
		pinctrl-names = "default";
		pinctrl-0 = <&pcie30_clk_run_pins>;
		compatible = "regulator-fixed";
		gpio = <&gpio2 RK_PD0 GPIO_ACTIVE_LOW>;
		regulator-name = "vcc3v3_pcie30_clk_run";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		startup-delay-us = <20000>;
		vin-supply = <&vcc3v3_pcie30_clk_oe>;
	};
};

&i2c3 {
	clock-frequency = <400000>;
	#address-cells = <1>;
	#size-cells = <0>;

	/* 24aa025e48 */
	eeprom@50 {
		compatible = "atmel,24c02";
		reg = <0x50>;
		pagesize = <16>;
		vcc-supply = <&vcc3v3_sys>;

		nvmem-layout {
			compatible = "fixed-layout";
			#address-cells = <1>;
			#size-cells = <1>;

			mac0: mac-address@fa {
				reg = <0xfa 0x06>;
				read-only;
			};
		};
	};

	/* 24aa025e48 */
	eeprom@51 {
		compatible = "atmel,24c02";
		reg = <0x51>;
		pagesize = <16>;
		vcc-supply = <&vcc3v3_sys>;

		nvmem-layout {
			compatible = "fixed-layout";
			#address-cells = <1>;
			#size-cells = <1>;

			mac1: mac-address@fa {
				reg = <0xfa 0x06>;
				read-only;
			};
		};
	};

	/* m41t62lc6f */
	rtc: rtc@68 {
		pinctrl-names = "default";
		pinctrl-0 = <&rtc_pins>;
		compatible = "st,m41t62";
		reg = <0x68>;
		interrupt-parent = <&gpio4>;
		interrupts = <RK_PC4 IRQ_TYPE_LEVEL_LOW>;
		wakeup-source;
		#clock-cells = <0>;
	};
};

&gmac0 {
	nvmem-cells = <&mac0>;
	nvmem-cell-names = "mac-address";
};

&gmac1 {
	nvmem-cells = <&mac1>;
	nvmem-cell-names = "mac-address";
};

&gpio1 {
	gpio-line-names =
		/* GPIO1 A0-A7 */
		"I2C3_SDA", "I2C3_SCL", "GPIO0/CAM0_PWR#", "LCD0_BKLT_EN",
		"UART4_RX", "UART4_RTSn", "UART4_TX", "UART4_CTSn",
		/* GPIO1 B0-B7 */
		"PCIE30_CLK_IC_OE", "PIC20_WAKEn_M2", "GPIO1/CAM1_PWR#", "GPIO3/CAM1_RST#",
		"eMMC_D0", "eMMC_D1", "eMMC_D2", "eMMC_D3",
		/* GPIO1 C0-C7 */
		"eMMC_D4", "eMMC_D5", "eMMC_D6", "eMMC_D7",
		"eMMC_CMD", "eMMC_CLK", "eMMC_DS", "eMMC_RESET#",
		/* GPIO1 D0-D7 */
		"", "", "", "",
		"", "SDMMC_D0", "SDMMC_D1", "SDMMC0_D2";
};

&gpio2 {
	gpio-line-names =
		/* GPIO2 A0-A7 */
		"SDMMC0_D3", "SDMMC0_CMD", "SDMMC0_CLK", "GMAC0_RXD2",
		"GMAC0_RXD3", "GMAC0_RXCLK", "GMAC0_TXD2", "GMAC0_TXD3",
		/* GPIO2 B0-B7 */
		"GMAC0_TXCLK", "CAN2_RX", "CAN2_TX", "GMAC0_TXD0",
		"GMAC0_TXD1", "GMAC0_TXEN", "GMAC0_RXD0", "GMAC0_RXD1",
		/* GPIO2 C0-C7 */
		"GMAC0_RXDV_CRS", "SPI2_CK", "SPI2_DIN", "SPI2_DO",
		"SPI2_CS0#", "SPI2_CS1#", "PCIE30X2_PERSTn", "",
		/* GPIO2 D0-D7 */
		"PCIE30_CLK_IC_PDN", "GPIO_EXP_INT", "PCIE30X1_CLKREQn_M1", "PCIE30X1_WAKEn_M1",
		"PCIE30X2_CLKREQn_M1", "PCIE30X2_WAKEn_M1", "GPIO4/HDA_RST#", "UART8_TX";
};

&pcie30phy {
	phy-supply = <&vcc3v3_pcie30_clk_run>;
};

&pcie3x1 {
	vpcie3v3-supply = <&vcc3v3_pcie30_clk_run>;
};

&pcie3x2 {
	vpcie3v3-supply = <&vcc3v3_pcie30_clk_run>;
};

&pinctrl {
	pci {
		pcie30_clk_oe_pins: pcie30-clk-oe-pins {
			rockchip,pins =
				<1 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;	/* PCIE30_CLK_IC_OE */
		};

		pcie30_clk_run_pins: pcie30-clk-run-pins {
			rockchip,pins =
				<2 RK_PD0 RK_FUNC_GPIO &pcfg_pull_none>;	/* PCIE30_CLK_IC_PDN */
		};
	};

	rtc {
		rtc_pins: rtc-pins {
			rockchip,pins =
				<4 RK_PC4 RK_FUNC_GPIO &pcfg_pull_none>;	/* RTC_IRQ */
		};
	};
};
