/* SPDX-License-Identifier: GPL-2.0+ */
/* SPDX-FileCopyrightText: Alexander Shiyan <shc_work@mail.ru> */

/dts-v1/;

#include <arm64/rockchip/rk3588j.dtsi>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>

#include "rk3588.dtsi"

/ {
	model = "Diasom DS-RK3588-BTB";
	compatible = "diasom,ds-rk3588-btb",
		     "rockchip,rk3588";
	chassis-type = "embedded";

	chosen: chosen {
		stdout-path = "serial2:1500000n8";
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&leds_pins>;

		led-live {
			label = "som:live";
			gpios = <&gpio0 RK_PA0 GPIO_ACTIVE_HIGH>;
			function = LED_FUNCTION_HEARTBEAT;
			color = <LED_COLOR_ID_GREEN>;
			linux,default-trigger = LED_FUNCTION_HEARTBEAT;
			default-state = "off";
			panic-indicator;
		};
	};

	vcc4v0_sys: vcc4v0-sys-regulator {
		compatible = "regulator-fixed";
		regulator-name = "4v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <4000000>;
		regulator-max-microvolt = <4000000>;
	};
};

&av1d {
	status = "disabled";
};

&i2c0 {
	pinctrl-0 = <&i2c0m2_xfer>;
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&i2c6 {
	status = "okay";
};

&uart2 {
	pinctrl-0 = <&uart2m0_xfer>;
	status = "okay";
};

&xin32k {
	status = "disabled";
};

&pinctrl {
	leds {
		leds_pins: leds-pins {
			rockchip,pins =
			<0 RK_PA0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};
