/* SPDX-License-Identifier: GPL-2.0+ */
/* SPDX-FileCopyrightText: Alexander Shiyan <shc_work@mail.ru> */

/dts-v1/;

#include <dt-bindings/input/input.h>

#include "rk3588-diasom-btb.dtsi"

/ {
	model = "Diasom DS-RK3588-BTB-EVB";
	compatible = "diasom,ds-rk3588-btb-evb",
		     "diasom,ds-rk3588-btb",
		     "rockchip,rk3588";

	aliases {
		ethernet0 = &gmac0;
		ethernet1 = &gmac1;
		i2c9 = &i2c9;
		i2c10 = &i2c10;
		i2c11 = &i2c11;
		i2c12 = &i2c12;
		mmc1 = &sdmmc;
	};

	adc-keys-1 {
		compatible = "adc-keys";
		io-channels = <&saradc 1>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;

		button-recovery {
			label = "Recovery";
			linux,code = <KEY_VENDOR>;
			press-threshold-microvolt = <100000>;
		};
	};

	v_sys: v-sys-regulator {
		compatible = "regulator-fixed";
		regulator-name = "v_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
	};

	vcc_1v8_sys: vcc-1v8_sys-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v8_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc_5v0_sys>;
	};

	vcc_pcie30: vcc-pcie30-regulator {
		pinctrl-0 = <&pcie30_vcc_pins>;
		pinctrl-names = "default";
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio1 RK_PA2 GPIO_ACTIVE_HIGH>;
		regulator-name = "vcc_pcie30";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_5v0_sys>;
	};

	vcc_3v3_sys: vcc-3v3_sys-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&v_sys>;
	};

	vcc_5v0_sys: vcc-5v03_sys-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&v_sys>;
	};
};

&av1d {
	status = "okay";
};

&combphy1_ps {
	/* pcie2x1l0 */
	status = "okay";
};

&combphy2_psu {
	/* pcie2x1l1 */
	status = "okay";
};

&gmac0 {
	pinctrl-names = "default";
	pinctrl-0 = <
		&gmac0_miim &gmac0_tx_bus2 &gmac0_rx_bus2
		&gmac0_rgmii_clk &gmac0_rgmii_bus &eth0_pins
	>;
	clock_in_out = "output";
	phy-handle = <&rgmii_phy0>;
	phy-mode = "rgmii-rxid";
	rx_delay = <0x00>;
	tx_delay = <0x44>;
	status = "okay";
};

&gmac1 {
	pinctrl-names = "default";
	pinctrl-0 = <
		&gmac1_miim &gmac1_tx_bus2 &gmac1_rx_bus2
		&gmac1_rgmii_clk &gmac1_rgmii_bus &eth1_pins
	>;
	clock_in_out = "output";
	phy-handle = <&rgmii_phy1>;
	phy-mode = "rgmii-rxid";
	rx_delay = <0x00>;
	tx_delay = <0x44>;
	status = "okay";
};

&gpu {
	status = "okay";
};

&i2c3 {
	clock-frequency = <400000>;
	status = "okay";

	i2c_mux: i2c-mux@70 {
		compatible = "nxp,pca9546";
		reg = <0x70>;
		i2c-mux-idle-disconnect;
		vdd-supply = <&vcc_3v3_sys>;
		#address-cells = <1>;
		#size-cells = <0>;

		i2c9: i2c@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2c10: i2c@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2c11: i2c@2 {
			reg = <2>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2c12: i2c@3 {
			reg = <3>;
			#address-cells = <1>;
			#size-cells = <0>;
		};
	};
};

&i2c7 {
	/* Limit frequency due 1.8v EEPROM */
	clock-frequency = <100000>;
	status = "okay";
};

&leds {
	pinctrl-0 = <&leds_som_pins &leds_evb_pins>;

	led-act {
		label = "evb:act";
		gpios = <&gpio0 RK_PC5 GPIO_ACTIVE_HIGH>;
		function = LED_FUNCTION_ACTIVITY;
		color = <LED_COLOR_ID_GREEN>;
		linux,default-trigger = LED_FUNCTION_ACTIVITY;
		default-state = "off";
	};
};

&mdio0 {
	rgmii_phy0: ethernet-phy@1 {
		/* RTL8211F */
		compatible = "ethernet-phy-id001c.c916", "ethernet-phy-ieee802.3-c22";
		reg = <0x1>;
	};
};

&mdio1 {
	rgmii_phy1: ethernet-phy@2 {
		/* RTL8211F */
		compatible = "ethernet-phy-id001c.c916", "ethernet-phy-ieee802.3-c22";
		reg = <0x2>;
	};
};

&pcie2x1l0 {
	/* Wrong wiring CLKREQn, WAKEn */
	pinctrl-names = "default";
	pinctrl-0 = <&pcie2x1l0_pins>;
	/* Wrong wiring on pcie20x1_2_perstn_m1, fixed */
	reset-gpios = <&gpio4 RK_PC1 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc_3v3_sys>;
	/*
		WAKEn: R30, AL28, D27
		CLKREQn: T31, AL29, E25
		PERSTn: P30, AK27, E24
	*/
	status = "okay";
};

&pcie2x1l1 {
	/* Wrong wiring CLKREQn, WAKEn */
	pinctrl-names = "default";
	pinctrl-0 = <&pcie2x1l1_pins>;
	/* Wrong wiring on pcie30x1_0_perstn_m1, fixed */
	reset-gpios = <&gpio4 RK_PA5 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc_3v3_sys>;
	/*
		WAKEn: R29, AL30, A25
		CLKREQn: P29, AK30, A24
		PERSTn: T28, AM29, C25
	*/
	status = "okay";
};

&pcie30phy {
	status = "okay";
};

&pcie3x4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pcie3x4_pins>;
	reset-gpios = <&gpio1 RK_PB2 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc_pcie30>;
	status = "okay";
};

&sdmmc {
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	no-sdio;
	no-mmc;
	sd-uhs-sdr104;
	/* Wrong wiring VCCIO_SD to SD VCC */
	vmmc-supply = <&vccio_sd>;
	vqmmc-supply = <&vccio_sd>;
	status = "okay";
};

&usb_host0_xhci {
	/* USB3_HOST_0 X28 */
	usb-role-switch;
	status = "okay";

//	port {
//		usb_host0_xhci_drd_sw: endpoint {
//			remote-endpoint = <&usbc0_hs>;
//		};
//	};
};

&usb_host1_ehci {
	/* USB20_HOST1 X27 */
	status = "okay";
};

&usb_host1_xhci {
	/* USB3_HOST_1 X25 */
	dr_mode = "host";
	status = "okay";
};

&usbdp_phy0 {
	mode-switch;
//	orientation-switch;
//	sbu1-dc-gpios = <&gpio0 RK_PC6 GPIO_ACTIVE_HIGH>;
//	sbu2-dc-gpios = <&gpio0 RK_PD3 GPIO_ACTIVE_HIGH>;
	status = "okay";

//	port {
//		#address-cells = <1>;
//		#size-cells = <0>;
//
//		usbdp_phy0_typec_ss: endpoint@0 {
//			reg = <0>;
//			remote-endpoint = <&usbc0_ss>;
//		};
//
//		usbdp_phy0_typec_sbu: endpoint@1 {
//			reg = <1>;
//			remote-endpoint = <&usbc0_sbu>;
//		};
//	};
};

&usbdp_phy1 {
	status = "okay";
};

&u2phy0 {
	status = "okay";
};

&u2phy1 {
	status = "okay";
};

&u2phy0_otg {
	/* Power is missing! */
	// phy-supply = <&vbus_typec>;
	status = "okay";
};

&u2phy1_otg {
	/* Power is missing! */
	// phy-supply = <&vbus_host30_1>;
	status = "okay";
};

&u2phy3 {
	status = "okay";
};

&u2phy3_host {
	/* Power is missing! */
	// phy-supply = <&vbus_host20_1>;
	status = "okay";
};

&vcc4v0_sys {
	vin-supply = <&v_sys>;
};

&pinctrl {
	leds {
		leds_evb_pins: leds-evb-pins {
			rockchip,pins =
				<0 RK_PC5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	pcie {
		pcie2x1l0_pins: pcie2x1l0-pins {
			rockchip,pins =
				<4 RK_PC1 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		pcie2x1l1_pins: pcie2x1l1-pins {
			rockchip,pins =
				<4 RK_PA5 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		pcie30_vcc_pins: pcie30-vcc-pins {
			rockchip,pins =
				<1 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		pcie3x4_pins: pci3x4-pins {
			rockchip,pins =
				<1 RK_PB2 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};
