/* SPDX-License-Identifier: GPL-2.0+ */
/* SPDX-FileCopyrightText: Alexander Shiyan <shc_work@mail.ru> */

/dts-v1/;

#include <dt-bindings/input/input.h>

#include "rk3588-diasom-btb.dtsi"

/ {
	model = "Diasom DS-RK3588-BTB-EVB";
	compatible = "diasom,ds-rk3588-btb-evb",
		     "diasom,ds-rk3588-btb",
		     "rockchip,rk3588";

	adc-keys-0 {
		compatible = "adc-keys";
		io-channels = <&saradc 0>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;

		button-maskrom-usb {
			label = "Maskrom USB";
			linux,code = <KEY_MACRO1>;
			press-threshold-microvolt = <150000>;
		};

		button-maskrom-sd-usb {
			label = "Maskrom SD-USB";
			linux,code = <KEY_MACRO2>;
			press-threshold-microvolt = <500000>;
		};

		button-maskrom-emmc-usb {
			label = "Maskrom EMMC-USB";
			linux,code = <KEY_MACRO3>;
			press-threshold-microvolt = <800000>;
		};
	};

	adc-keys-1 {
		compatible = "adc-keys";
		io-channels = <&saradc 1>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;

		button-recovery {
			label = "Recovery";
			linux,code = <KEY_VENDOR>;
			press-threshold-microvolt = <100000>;
		};
	};
};

&av1d {
	status = "okay";
};

&combphy0_ps {
	/* pcie2x1l2 */
	status = "okay";
};

&combphy1_ps {
	/* pcie2x1l0 */
	status = "okay";
};

&combphy2_psu {
	/* usb_host2_xhci */
	//TODO:
};

&i2c3 {
	clock-frequency = <400000>;
	status = "okay";
};

&i2c7 {
	/* Limit frequency due 1.8v EEPROM */
	clock-frequency = <100000>;
	status = "okay";
};

&pcie2x1l0 {
	/* Wrong wiring CLKREQn, WAKEn */
	pinctrl-names = "default";
	pinctrl-0 = <&pcie2x1l0_pins>;
	/* Wrong wiring on pcie20x1_2_perstn_m1, fixed */
	reset-gpios = <&gpio4 RK_PC1 GPIO_ACTIVE_HIGH>;
	/*
		WAKEn: R30, AL28, D27
		CLKREQn: T31, AL29, E25
		PERSTn: P30, AK27, E24
	*/
	status = "okay";
};

&pcie2x1l2 {
	/* Wrong wiring CLKREQn, WAKEn */
	pinctrl-names = "default";
	pinctrl-0 = <&pcie2x1l2_pins>;
	//Wrong wiring on pcie30x1_0_perstn_m1, fixed */
	reset-gpios = <&gpio4 RK_PA5 GPIO_ACTIVE_HIGH>;
	/*
		WAKEn: AH24, AJ25
		CLKREQn: AJ24, AJ28
		PERSTn: AG23, AK24
	*/
	status = "okay";
};

&sdmmc {
	/* Disable sdmmc_det due cross with RTC INT */
	pinctrl-0 = <&sdmmc_clk &sdmmc_cmd &sdmmc_bus4>;
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	no-sdio;
	no-mmc;
	sd-uhs-sdr104;
	/* Wrong wiring VCCIO_SD to SD VCC */
	vmmc-supply = <&vccio_sd>;
	vqmmc-supply = <&vccio_sd>;
	status = "okay";
};

&pinctrl {
	pcie {
		pcie2x1l0_pins: pcie2x1l0-pins {
			rockchip,pins =
				<4 RK_PC1 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		pcie2x1l2_pins: pcie2x1l2-pins {
			rockchip,pins =
				<4 RK_PA5 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};
