/* SPDX-License-Identifier: GPL-2.0+ */
/* SPDX-FileCopyrightText: Alexander Shiyan <shc_work@mail.ru> */

/dts-v1/;
/plugin/;

#include <dt-bindings/pinctrl/rockchip.h>

&{/} {
	model = "Diasom DS-RK3588-BTB-EVB-HAT";
	compatible = "diasom,ds-rk3588-btb-evb-hat",
		     "diasom,ds-rk3588-btb-evb",
		     "diasom,ds-rk3588-btb",
		     "rockchip,rk3588";
};

&i2c1 {
	pinctrl-0 = <&i2c1m4_xfer>;
	clock-frequency = <400000>;
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
};

&i2c4 {
	pinctrl-0 = <&i2c4m4_xfer>;
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
};

&pwm1 {
	pinctrl-0 = <&pwm1m2_pins>;
	status = "okay";
	#pwm-cells = <3>;
};

&pwm3 {
	pinctrl-0 = <&pwm3m3_pins>;
	status = "okay";
	#pwm-cells = <3>;
};

&pwm4 {
	pinctrl-0 = <&pwm4m1_pins>;
	status = "okay";
	#pwm-cells = <3>;
};

&pwm15 {
	pinctrl-0 = <&pwm15m3_pins>;
	status = "okay";
	#pwm-cells = <3>;
};

&uart6 {
	status = "okay";
};

&uart7 {
	pinctrl-0 = <&uart7m2_xfer>;
	status = "okay";
};

&uart9 {
	status = "okay";
};
