/* SPDX-License-Identifier: GPL-2.0+ */
/* SPDX-FileCopyrightText: Alexander Shiyan <shc_work@mail.ru> */

/dts-v1/;

#include <arm64/rockchip/rk3588j.dtsi>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>

#include "rk3588.dtsi"

/ {
	model = "Diasom DS-RK3588-BTB";
	compatible = "diasom,ds-rk3588-btb",
		     "rockchip,rk3588";
	chassis-type = "embedded";

	chosen: chosen {
		stdout-path = "serial2:1500000n8";
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&leds_pins>;

		led-live {
			label = "som:live";
			gpios = <&gpio0 RK_PA0 GPIO_ACTIVE_HIGH>;
			function = LED_FUNCTION_HEARTBEAT;
			color = <LED_COLOR_ID_GREEN>;
			linux,default-trigger = LED_FUNCTION_HEARTBEAT;
			default-state = "off";
			panic-indicator;
		};
	};

	vcc4v0_sys: vcc4v0-sys-regulator {
		compatible = "regulator-fixed";
		regulator-name = "4v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <4000000>;
		regulator-max-microvolt = <4000000>;
	};
};

&av1d {
	status = "disabled";
};

&cpu_b0 {
	cpu-supply = <&vdd_cpu_big0>;
	mem-supply = <&vdd_cpu_big0>;
};

&cpu_b1 {
	cpu-supply = <&vdd_cpu_big0>;
	mem-supply = <&vdd_cpu_big0>;
};

&cpu_b2 {
	cpu-supply = <&vdd_cpu_big1>;
	mem-supply = <&vdd_cpu_big1>;
};

&cpu_b3 {
	cpu-supply = <&vdd_cpu_big1>;
	mem-supply = <&vdd_cpu_big1>;
};

&i2c0 {
	pinctrl-0 = <&i2c0m2_xfer>;
	status = "okay";

	vdd_cpu_big0: regulator@42 {
		compatible = "rockchip,rk8602";
		reg = <0x42>;
		fcs,suspend-voltage-selector = <1>;
		regulator-name = "vdd_cpu_big0";
		regulator-boot-on;
		regulator-min-microvolt = <675000>; /* VDD_CPU_BIG0_MEM Min=0.675 */
		regulator-max-microvolt = <1050000>;
		regulator-ramp-delay = <2300>;
		vin-supply = <&vcc4v0_sys>;

		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

	vdd_cpu_big1: regulator@43 {
		compatible = "rockchip,rk8603", "rockchip,rk8602";
		reg = <0x43>;
		fcs,suspend-voltage-selector = <1>;
		regulator-name = "vdd_cpu_big1";
		regulator-boot-on;
		regulator-min-microvolt = <675000>; /* VDD_CPU_BIG1_MEM Min=0.675 */
		regulator-max-microvolt = <1050000>;
		regulator-ramp-delay = <2300>;
		vin-supply = <&vcc4v0_sys>;

		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};
};

&i2c2 {
	status = "okay";

	vdd_npu: regulator@42 {
		compatible = "rockchip,rk8602";
		reg = <0x42>;
		fcs,suspend-voltage-selector = <1>;
		regulator-name = "vdd_npu";
		regulator-min-microvolt = <675000>; /* VDD_NPU_MEM Min=0.675 */
		regulator-max-microvolt = <950000>;
		regulator-ramp-delay = <2300>;
		vin-supply = <&vcc4v0_sys>;

		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};
};

&i2c6 {
	//FIXME: Should be enabled in EVB?
	status = "okay";
};

&uart2 {
	pinctrl-0 = <&uart2m0_xfer>;
	status = "okay";
};

&xin32k {
	status = "disabled";
};

&pinctrl {
	leds {
		leds_pins: leds-pins {
			rockchip,pins =
			<0 RK_PA0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};
