/* SPDX-License-Identifier: GPL-2.0+ */
/* SPDX-FileCopyrightText: Alexander Shiyan <shc_work@mail.ru> */

/dts-v1/;

#include "rk3568-diasom-som-smarc.dtsi"

/ {
	model = "Diasom DS-RK3568-SMARC-EVB";
	compatible = "diasom,ds-rk3568-som-smarc-evb",
		     "diasom,ds-rk3568-som-smarc",
		     "diasom,ds-rk3568-som",
		     "rockchip,rk3568";
	aliases {
		mmc1 = &sdmmc0;
	};

	chosen {
		environment-sd {
			compatible = "barebox,environment";
			device-path = &sdmmc0, "partname:env";
			status = "disabled";
		};
	};
};

&sdmmc0 {
	status = "okay";
};

&uart4 {
	status = "okay";
};

&uart8 {
	status = "okay";
};

&uart9 {
	status = "okay";
};
